@use '@angular/material' as mat;
@import 'material-symbols/outlined.css';

$slablab-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$orange-palette,
    ),
    typography: (
      brand-family: 'Inter, Arial, sans-serif',
    ),
    density: (
      scale: 0,
    ),
  )
);

@include mat.core();

html {
  @include mat.all-component-themes($slablab-theme);
}

html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: Inter, Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
button,
input {
  font: inherit;
}
